@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>
<h2><strong>RaTaN's Shop</strong></h2>

<h3>This website was created for Ran Shahak's project.</h3>
<h4><strong>Creators:</strong><br /><br /> &emsp;&emsp;&emsp; Matan Benisty 307902619<br /> &emsp;&emsp;&emsp; Ran Avital 2043734599</h4>
