@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>
<br />
<h2><strong>RaMaTaN's Shop</strong></h2>

<h2>This website was created for Ran Shahak's project.</h2>
<h4><strong>Creators:</strong><br /><br /> &emsp;&emsp;&emsp; Matan Benisty 307902619<br /> &emsp;&emsp;&emsp; Ran Avital 2043734599</h4>
<IMG SRC="https://cdn130.picsart.com/261506488001202.gif?r240x240" />
