@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bialik 56,<br />
    Be'er Sheva<br />
    <abbr title="Phone">Phone:</abbr>
    1-800-207-777
</address>

<address>
    <strong>To order, please contact:</strong><br /><a href="mailto:ranav@ac.sce.ac.il">Ran Avital</a><br />
    <a href="mailto:matanbe4@ac.sce.ac.il">Matan Benishty</a>
</address>

@if (Session["loggedOn"] != null)
{
    <h2>Got something to say? We would like to hear!</h2><br />
    <h2>To write a review, click @Html.ActionLink("Here", "ReviewAction", "Home", null)</h2>
}