@model MVCProject.ViewModel.ComplaintViewModel

@{
    ViewBag.Title = "Show Reports";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show Reports</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        .Grid {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

            .Grid th {
                background-color: #F7F7F7;
                font-weight: bold;
            }

            .Grid th, .Grid td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            .Grid, .Grid table td {
                border: 0px solid #ccc;
            }

                .Grid th a, .Grid th a:visited {
                    color: #333;
                }
    </style>
</head>
<body>
    <h3><b>Reports:</b></h3>
    <br />
    <div>
        @{
            WebGrid obj = new WebGrid(Model.complaints, canPage: false, canSort: false);
        }
        @obj.GetHtml(htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
        columns: obj.Columns(
                 obj.Column("Username", "Username"),
                 obj.Column("Complaint", "Report")))
    </div>

</body>
</html>