@*@model HW.Models.Manager



    @{
        Layout = null;
    }
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ManagerLogin</title>


    </head>

    <body>

        <div>
            @using (Html.BeginForm("ManagerAuthenticate", "Home", FormMethod.Post))
            {כאן נרשום את הטופס של
                <table>
                    <tr>
                        <td>User Name: </td>
                        <td>@Html.TextBoxFor(x => x.UserName)</td>
                        <td><div style="color:red">@Html.ValidationMessageFor(x => x.UserName)</div></td>
                    </tr>
                    <tr>
                        <td>Password: </td>
                        <td>@Html.PasswordFor(x => x.Password)</td>
                        <td><div style="color:red">@Html.ValidationMessageFor(x => x.Password)</div></td>

                    </tr>

                    <tr>
                        <td><input id="Submit" name="Submit" type="submit" value="Login" /></td>
                    </tr>


                </table>

                <br />

            }
        </div>
    </body>
    </html>*@
