@model MVCProject.ViewModel.ProductViewModel
@using MVCProject.Models;
@{
    ViewBag.Title = "Manage Products";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Products</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div>
        <form action="ProductAction" method="post">
            <br />
            <table>
                <tr>
                    <td>Enter product name:</td>
                    <td><input id="Text" type="text" name="name" value="@Model.product.name" /></td>
                </tr>
                <tr>
                    <td>Enter product price:</td>
                    <td><input id="Text" type="text" name="price" value="@Model.product.price" /></td>
                </tr>
                <tr>
                    <td><input id="Submit" type="submit" value="Add product" /></td>
                </tr>
            </table>
        </form>
        <br />
        <h4 style="color:red">@TempData["ProductErr"]</h4>
        <br />
    </div>
    <br />
    <b>Products table:</b>
    <br />
    <table id="productsTbl">
        <tr>
            <td>Product Name</td>
            <td>&emsp;Price</td>
        </tr>

    </table>
</body>
</html>
<script language="javascript">
    $.get("GetProductsByJason", null, BindData);
    function BindData(products) {
        var tbl = $("#productsTbl");
        for (i = 0; i < products.length; i++) {
            var row = "<tr> <td>" + products[i].name + "</td> <td>&emsp;" + products[i].price + "</td></tr>";
            tbl.append(row);
        }
    }
</script>